@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Russo+One&display=swap');

* {
    margin: 3;
    padding: 5;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #060D14;
    color: #00CCF5;
    ;
}
.heading{
    font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 2.8rem;
  padding: 2px;
  margin: 5;
  border-color: bisque;
}
/* .body{
    text-align: center;
}
.image{
    text-align: center;
}
#education{
    text-align: center;
}
#Skills-and-abilities{
    text-align: center;
} */
 .a{
    text-align: center;
 }
 .nav:hover{
    color: yellow;
 }
